src/main/mule/travisapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="81908614-3244-42a2-908b-26db64d81ac1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="travisappFlow" doc:id="318eda18-ce48-448a-87ce-6353ce472b46" >
		<http:listener doc:name="Listener" doc:id="86233e02-fb18-4741-a0f2-05f28dcdb27d" config-ref="HTTP_Listener_config" path="/travis"/>
		<set-payload value="#[now()]" doc:name="Set Payload" doc:id="486a4151-95e3-4624-a596-792d8653eebb" />
	
	</flow>
</mule>
